* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: #024b49 solid 10px;
  border-bottom: #024b49 solid 10px;
  background-color: #edcace;
  padding: 10px;
}

.container {
  background-color: #caf9f6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 100%;
}

.topFive {
  background-color: #caf9f6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-width: 100%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #024949;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 5px;
  max-width: 75%;
}

li {
  margin: 10px;
  width: 90%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h2{
  font-size: 24px;
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  text-decoration: underline;
}

h3 {
  font-size: 24px;
  margin: 5px;
  width: 100%;
  text-decoration: underline;
}

h4 {
  font-size: 20px;
  margin: 5px;
}

p {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 font-size: 20px;
 margin: 5px;
}

